<section class="callback">
  <div class="container">
    <div class="callback-grid">
      <div class="callback-grid__left">
        <h2 class="callback__title title text-reset">Мы всегда вам рады!</h2>
        <p class="callback__text txt-grey-14 text-reset">
          Безусловно, новая модель организационной деятельности в значительной степени обусловливает важность распределения внутренних резервов и ресурсов.
          <span class="callback__tippy tippy">?</span>
        </p>
        <form class="callback__form callback-form" action="#" method="POST">
          <ul class="callback__list list-reset">
            <li class="callback__item">
              <label for="name" class="callback__label">
                <input class="callback__input input-text" id="name" name="name" type="text" placeholder="Как вас зовут?">
              </label>
            </li>
            <li class="callback__item">
              <label for="tel" class="callback__label">
                <input class="callback__input input-tel" id="tel" name="tel" type="tel" placeholder="Ваш телефон">
              </label>
            </li>
            <li class="callback__item">
              <label for="email" class="callback__label">
                <input class="callback__input input-email" id="email" name="email" type="email" placeholder="Ваш e-mail?">
              </label>
            </li>
          </ul>
          <button class="callback__btn primary-btn btn-reset">Отправить</button>
          <label class="callback__agree check">
            <input class="check__input"  required type="checkbox" name="agree">
            <span class="check__box">
              <svg class="check__svg">
                <use xlink:href="img/sprite.svg#check"></use>
              </svg>
            </span>
            <span class="check__label">
              Принимаю
              <a class="check__link" href="#">пользовательское соглашение</a>
            </span>
          </label>
        </form>
      </div>
      <div class="callback-grid__right callback__img"></div>
    </div>
  </div>
</section>
