<div class="catalog-page-grid__filters catalog-filters">
  <h2 class="visually-hidden">Фильтры</h2>
  <div class="catalog-filters__wrap filters-dropdown catalog-filters-grid">
    <p class="catalog-filters__label catalog-filters__label--big text-reset">Фильтровать по:</p>
    <p class="catalog-filters-grid__label catalog-filters__label catalog-filters__label--normal text-reset">Фильтры:</p>

    <div class="filters filters-category catalog-filters-grid__filter">
      <button class="filters__btn btn-reset">Категория</button>
      <fieldset class="filters__wrap filters-dropdown">
        <legend class="filters__title text-reset">Категория</legend>
        <ul class="filters__list list-reset">
          <li class="filters__item category-item">
            <label class="filters__check check">
              <input class="check__input" data-type="category" data-filter="filter-sofa" type="checkbox" name="category[]" checked>
              <span class="check__box">
                <svg class="check__svg">
                  <use xlink:href="img/sprite.svg#check"></use>
                </svg>
              </span>
              <span class="check__label">
                Диваны
              </span>
            </label>
          </li>

          <li class="filters__item category-item">
            <label class="filters__check check">
              <input class="check__input" data-type="category" data-filter="filter-armchair" type="checkbox" name="category[]">
              <span class="check__box">
                <svg class="check__svg">
                  <use xlink:href="img/sprite.svg#check"></use>
                </svg>
              </span>
              <span class="check__label">
                Кресла
              </span>
            </label>
          </li>

          <li class="filters__item category-item">
            <label class="filters__check check">
              <input class="check__input" data-type="category" data-filter="filter-poof" type="checkbox" name="category[]">
              <span class="check__box">
                <svg class="check__svg">
                  <use xlink:href="img/sprite.svg#check"></use>
                </svg>
              </span>
              <span class="check__label">
                Пуфы
              </span>
            </label>
          </li>

          <li class="filters__item category-item">
            <label class="filters__check check">
              <input class="check__input" data-type="category" data-filter="filter-bed" type="checkbox" name="category[]">
              <span class="check__box">
                <svg class="check__svg">
                  <use xlink:href="img/sprite.svg#check"></use>
                </svg>
              </span>
              <span class="check__label">
                Кровати
              </span>
            </label>
          </li>

          <li class="filters__item category-item">
            <label class="filters__check check">
              <input class="check__input" data-type="category" data-filter="filter-bedside" type="checkbox" name="category[]">
              <span class="check__box">
                <svg class="check__svg">
                  <use xlink:href="img/sprite.svg#check"></use>
                </svg>
              </span>
              <span class="check__label">
                Тумбы
              </span>
            </label>
          </li>

          <li class="filters__item category-item">
            <label class="filters__check check">
              <input class="check__input" data-type="category" data-filter="filter-drawer" type="checkbox" name="category[]">
              <span class="check__box">
                <svg class="check__svg">
                  <use xlink:href="img/sprite.svg#check"></use>
                </svg>
              </span>
              <span class="check__label">
                Комоды
              </span>
            </label>
          </li>

          <li class="filters__item category-item">
            <label class="filters__check check">
              <input class="check__input" data-type="category" data-filter="filter-chair" type="checkbox" name="category[]">
              <span class="check__box">
                <svg class="check__svg">
                  <use xlink:href="img/sprite.svg#check"></use>
                </svg>
              </span>
              <span class="check__label">
                Стулья
              </span>
            </label>
          </li>

          <li class="filters__item category-item">
            <label class="filters__check check">
              <input class="check__input" data-type="category" data-filter="filter-table" type="checkbox" name="category[]">
              <span class="check__box">
                <svg class="check__svg">
                  <use xlink:href="img/sprite.svg#check"></use>
                </svg>
              </span>
              <span class="check__label">
                Столы
              </span>
            </label>
          </li>

          <li class="filters__item category-item">
            <label class="filters__check check">
              <input class="check__input" data-type="category" data-filter="filter-accessory" type="checkbox" name="category[]">
              <span class="check__box">
                <svg class="check__svg">
                  <use xlink:href="img/sprite.svg#check"></use>
                </svg>
              </span>
              <span class="check__label">
                Аксессуары
              </span>
            </label>
          </li>

          <li class="filters__item category-item">
            <label class="filters__check check">
              <input class="check__input" data-type="category" data-filter="filter-bra" type="checkbox" name="category[]">
              <span class="check__box">
                <svg class="check__svg">
                  <use xlink:href="img/sprite.svg#check"></use>
                </svg>
              </span>
              <span class="check__label">
                Светильники
              </span>
            </label>
          </li>

          <li class="filters__item category-item">
            <label class="filters__check check">
              <input class="check__input" data-type="category" data-filter="filter-kids" type="checkbox" name="category[]">
              <span class="check__box">
                <svg class="check__svg">
                  <use xlink:href="img/sprite.svg#check"></use>
                </svg>
              </span>
              <span class="check__label">
                Детская мебель
              </span>
            </label>
          </li>

          <li class="filters__item category-item">
            <label class="filters__check check">
              <input class="check__input" data-type="category" data-filter="filter-kitchen" type="checkbox" name="category[]">
              <span class="check__box">
                <svg class="check__svg">
                  <use xlink:href="img/sprite.svg#check"></use>
                </svg>
              </span>
              <span class="check__label">
                Кухни
              </span>
            </label>
          </li>

        </ul>
      </fieldset>
    </div>

    <div class="filters filters-prices catalog-filters-grid__filter">
      <button class="filters__btn btn-reset">Цена</button>
      <fieldset class="filters__wrap filters-dropdown">
        <legend class="filters__title text-reset">Цена</legend>
        <div class="filters-prices__wrap">
          <label class="filters__label">
            <span>от</span>
            <input class="filters__input" type="number" data-type="price" data-filter="filter-min" name="price[]" id="min-price" min="0" max="200000">
          </label>
          <label class="filters__label">
            <span>до</span>
            <input class="filters__input" type="number" data-type="price" data-filter="filter-max" name="price[]" id="max-price" min="0" max="200000">
          </label>
        </div>
        <div class="range-slider"></div>
      </fieldset>
    </div>

    <div class="filters filters-discount catalog-filters-grid__filter">
      <button class="filters__btn btn-reset">Скидка</button>
      <div class="filters__wrap filters-dropdown">
        <p class="filters__title text-reset">Скидка</p>
        <ul class="filters__list list-reset">
          <li class="filters__item">
            <label class="filters__check check">
              <input class="check__input" data-type="discount" data-filter="filter-moreDisc" type="checkbox" name="discount-more">
              <span class="check__box">
                <svg class="check__svg">
                  <use xlink:href="img/sprite.svg#check"></use>
                </svg>
              </span>
              <span class="check__label">
                Более 5 000
              </span>
            </label>
          </li>

          <li class="filters__item">
            <label class="filters__check check">
              <input class="check__input" data-type="discount" data-filter="filter-lessDisc" type="checkbox" name="discount-less">
              <span class="check__box">
                <svg class="check__svg">
                  <use xlink:href="img/sprite.svg#check"></use>
                </svg>
              </span>
              <span class="check__label">
                Менее 5 000
              </span>
            </label>
          </li>

          <li class="filters__item">
            <label class="filters__check check">
              <input class="check__input" data-type="discount" data-filter="filter-noDisc" type="checkbox" name="discount-default" checked>
              <span class="check__box">
                <svg class="check__svg">
                  <use xlink:href="img/sprite.svg#check"></use>
                </svg>
              </span>
              <span class="check__label">
                Не важно
              </span>
            </label>
          </li>
        </ul>
      </div>
    </div>

    <div class="filters filters-color catalog-filters-grid__filter">
      <button class="filters__btn btn-reset">Цвет</button>
      <fieldset class="filters__wrap filters-dropdown">
        <legend class="filters__title filters-color__title text-reset">Цвет</legend>
        <ul class="filters__list list-reset">
          <li class="filters__item">
            <label class="filters__check check">
              <input class="check__input" data-type="color" data-filter="filter-brown" type="checkbox" name="color[]">
              <span class="check__box">
                <svg class="check__svg">
                  <use xlink:href="img/sprite.svg#check"></use>
                </svg>
              </span>
              <span class="check__label">
                Коричневый
              </span>
            </label>
          </li>

          <li class="filters__item">
            <label class="filters__check check">
              <input class="check__input" data-type="color" data-filter="filter-black" type="checkbox" name="color[]">
              <span class="check__box">
                <svg class="check__svg">
                  <use xlink:href="img/sprite.svg#check"></use>
                </svg>
              </span>
              <span class="check__label">
                Черный
              </span>
            </label>
          </li>

          <li class="filters__item">
            <label class="filters__check check">
              <input class="check__input" data-type="color" data-filter="filter-beige" type="checkbox" name="color[]">
              <span class="check__box">
                <svg class="check__svg">
                  <use xlink:href="img/sprite.svg#check"></use>
                </svg>
              </span>
              <span class="check__label">
                Бежевый
              </span>
            </label>
          </li>

          <li class="filters__item">
            <label class="filters__check check">
              <input class="check__input" data-type="color" data-filter="filter-grey" type="checkbox" name="color[]">
              <span class="check__box">
                <svg class="check__svg">
                  <use xlink:href="img/sprite.svg#check"></use>
                </svg>
              </span>
              <span class="check__label">
                Серый
              </span>
            </label>
          </li>

          <li class="filters__item">
            <label class="filters__check check">
              <input class="check__input" data-type="color" data-filter="filter-white" type="checkbox" name="color[]">
              <span class="check__box">
                <svg class="check__svg">
                  <use xlink:href="img/sprite.svg#check"></use>
                </svg>
              </span>
              <span class="check__label">
                Белый
              </span>
            </label>
          </li>

          <li class="filters__item">
            <label class="filters__check check">
              <input class="check__input" data-type="color" data-filter="filter-blue" type="checkbox" name="color[]">
              <span class="check__box">
                <svg class="check__svg">
                  <use xlink:href="img/sprite.svg#check"></use>
                </svg>
              </span>
              <span class="check__label">
                Синий
              </span>
            </label>
          </li>

          <li class="filters__item">
            <label class="filters__check check">
              <input class="check__input" data-type="color" data-filter="filter-orange" type="checkbox" name="color[]" checked>
              <span class="check__box">
                <svg class="check__svg">
                  <use xlink:href="img/sprite.svg#check"></use>
                </svg>
              </span>
              <span class="check__label">
                Оранжевый
              </span>
            </label>
          </li>

          <li class="filters__item">
            <label class="filters__check check">
              <input class="check__input" data-type="color" data-filter="filter-yellow" type="checkbox" name="color[]">
              <span class="check__box">
                <svg class="check__svg">
                  <use xlink:href="img/sprite.svg#check"></use>
                </svg>
              </span>
              <span class="check__label">
                Желтый
              </span>
            </label>
          </li>

          <li class="filters__item">
            <label class="filters__check check">
              <input class="check__input" data-type="color" data-filter="filter-green" type="checkbox" name="color[]">
              <span class="check__box">
                <svg class="check__svg">
                  <use xlink:href="img/sprite.svg#check"></use>
                </svg>
              </span>
              <span class="check__label">
                Зеленый
              </span>
            </label>
          </li>

          <li class="filters__item">
            <label class="filters__check check">
              <input class="check__input" data-type="color" data-filter="filter-dark" type="checkbox" name="color[]">
              <span class="check__box">
                <svg class="check__svg">
                  <use xlink:href="img/sprite.svg#check"></use>
                </svg>
              </span>
              <span class="check__label">
                Тёмный
              </span>
            </label>
          </li>

          <li class="filters__item">
            <label class="filters__check check">
              <input class="check__input" data-type="color" data-filter="filter-brown" type="checkbox" name="color[]">
              <span class="check__box">
                <svg class="check__svg">
                  <use xlink:href="img/sprite.svg#check"></use>
                </svg>
              </span>
              <span class="check__label">
                Светлый
              </span>
            </label>
          </li>

        </ul>
      </fieldset>
    </div>
  </div>

  <div class="banner-card">
    <div class="banner-card__img"></div>
    <div class="banner-card__content">
      <h2 class="banner-card__title text-reset">Оксфорд 1950</h2>
      <p class="banner-card__text text-reset">Новая коллекция изысканных кресел </p>
      <a class="catalog-link" href="catalog.html" aria-label="перейти в каталог">
        <span class="catalog-link__text"> В каталог</span>
        <span class="catalog-link__circle circle-btn"></span>
      </a>
    </div>
  </div>
</div>
