<div class="catalog-page">
  <div class="container">
    <h1 class="visually-hidden">Каталог</h1>
    <div class="catalog-page-grid">

      <section class="catalog-page-grid__tags catalog-tags">
        <h2 class="catalog-tags__title text-reset">Каталог</h2>
        <ul class="catalog-tags__list tags-grid list-reset">
          <!-- заполняется js -->
        </ul>
      </section>

      @include('catalog-filters.html')

      <section class="catalog-page-grid__cards catalog-cards tabs">
        <h2 class="visually-hidden">Список карточек</h2>
      </section>

    </div>
  </div>
</div>
