<div class="container contacts-page">
  <h1 class="contacts-page__title title text-reset">
    Контакты
  </h1>

  <form class="shop-search" action="#" method="POST">
    <input class="shop-search__input input-ui" type="text" name="shop" id="shop" placeholder="Поиск магазина">
    <div class="shop-drop">
      <ul class="shop-drop__list list-reset">

      </ul>
    </div>
    <button class="shop-search__btn primary-btn btn-reset" type="submit">Поиск</button>
  </form>


  <div class="map" id="map">
    <div class="not-found">
      <button class="close not-found__close close-btn btn-reset">
        <svg class="close-btn__svg">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </button>
      <p class="not-found__text text-reset">По вашему запросу ничего не нашлось</p>
    </div>
  </div>

</div>
