<div class="container coop coop-grid">
  <h1 class="coop__title title text-reset coop-grid__item">Сотрудничество</h1>

  <section class="coop-block coop-grid__item">
    <h2 class="coop-block__title title text-reset">
      Поставщикам
    </h2>
    <p class="coop-block__text txt-grey-16 text-reset">
      При планировании обстановки торгового помещения важно обустроить его с комфортом для покупателей: грамотно зонировать, обеспечить эффективную демонстрацию и хранение товаров в зале. Если вам необходимо комплексное оснащение, организация зоны отдыха или отдельные предметы меблировки для поддержания эффективной торговой деятельности, мы поможем выбрать продукцию с учетом нагрузки от поступающего трафика.
    </p>
  </section>

  <section class="coop-block coop-grid__item">
    <h2 class="coop-block__title title text-reset">
      Что вы получаете?
    </h2>
    <ul class="list-reset get-list">
      <li class="coop-block__item get-list__item get-list__item--one">
        <p class="coop-block__text get-list__text txt-grey-16 text-reset">
          Мы ценим идеи и вдохновение и предлагаем сотрудничество талантливым дизайнерам и архитекторам. Выпускаемая нами продукция гармонично дополнит любой современный проект.
        </p>
      </li>
      <li class="coop-block__item get-list__item get-list__item--two">
        <p class="coop-block__text get-list__text txt-grey-16 text-reset">
          Комплексное решение для красивого и функционального обустройства любых пространств.
        </p>
      </li>
      <li class="coop-block__item get-list__item get-list__item--three">
        <p class="coop-block__text get-list__text txt-grey-16 text-reset">
          В ассортименте представлены все товарные группы для того, чтобы воссоздать обстановку в помещениях разных типов: кабинетах, смешанных пространствах, Open Space, гостевых и переговорных комнатах.
        </p>
      </li>
    </ul>
  </section>

  <section class="coop-block coop-grid__item">
    <h2 class="coop-block__title title text-reset">
      Ваши преимущества от сотрудничества
    </h2>
    <ol class="list-reset advantages-list">
      <li class="coop-block__item advantages-list__item">
        <p class="coop-block__text txt-grey-16 text-reset">
          Создавайте незабываемые впечатления. Красиво меблированная фотостудия не оставит клиентов равнодушными, а созданная интерьером атмосфера будет надолго запечатлена на их снимках. Стильная и разноплановая обстановка творческого пространства – ключевая составляющая его успешной деятельности. Позаботьтесь о людях в кадре, а мы поможем правильно выбрать мебель.
        </p>
      </li>
      <li class="coop-block__item advantages-list__item">
        <p class="coop-block__text txt-grey-16 text-reset">
          Мы предлагаем застройщикам, работающим на территории РФ, участие наших специалистов от этапа проектирования обстановки квартир и подбора комплексных интерьерных решений до оптовых поставок мебели. Поможем организовать демонстрационный зал с образцами изделий и материалов на площади нового здания, чтобы покупатель заблаговременно подобрал тот вариант меблировки, который удовлетворит даже самые взыскательные ожидания.
        </p>
      </li>
    </ol>
  </section>

  <section class="coop-block coop-grid__item">
    <h2 class="coop-block__title title text-reset">
      Гарантии
    </h2>
    <ol class="list-reset warranty-list">
      <li class="coop-block__item warranty-list__item">
        <p class="coop-block__text txt-grey-16 text-reset">
          При приемке товара Покупатель должен внимательно проверить его количество, качество и ассортимент на соответствие сопроводительным документам и заказу. После подписания товарного чека Покупатель утрачивает право предъявления претензий, которые можно выявить при приемке товара.
        </p>
      </li>
      <li class="coop-block__item warranty-list__item">
        <p class="coop-block__text txt-grey-16 text-reset">
          На товары, сборка которых производилась покупателем самостоятельно (не специалистами Продавца), гарантийные обязательства Продавца не распространяются. Также гарантия не распространяется на повреждения товара, полученные в ходе самостоятельной доставки и подъема товара. Покупатель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, т.е. если товар может быть использован исключительно приобретающим его потребителем.
        </p>
      </li>
      <li class="coop-block__item warranty-list__item">
        <p class="coop-block__text txt-grey-16 text-reset">
          Возврат или обмен товара возможен при условии, что сохранена упаковка, товарный вид и потребительские свойства товара, а также товарный и кассовый чеки. В этом случае мы гарантируем вам возврат полной стоимости товара (за вычетом стоимости доставки). В случае отказа от товара при доставке, клиент оплачивает услуги доставки.
        </p>
      </li>
    </ol>
  </section>

  <div class="coop-grid__item warranty-period">
    <div class="warranty-period__img"></div>
    <p class="warranty-period__text title text-reset">
      Срок гарантии на нашу мебель составляет от 18 до 60 месяцев
    </p>
  </div>

</div>
