<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <h2 class="title text-reset visually-hidden">Ссылки и меню</h2>
      <div class="footer-grid">
        <h3 class="subtitle text-reset visually-hidden">Ссылки</h3>
        <div class="footer-links footer-grid__left">
          <a href="#" class="logo footer-links__logo">
            <img class="logo__img" src="img/Logo.svg" alt="логотип">
          </a>
          <ul class="social list-reset">
            <li class="social__item">
              <a href="https://facebook.com/" class="social__link link-ui">
                <svg class="social__svg">
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>

            <li class="social__item">
              <a href="https://vk.com/" class="social__link link-ui">
                <svg class="social__svg">
                  <use xlink:href="img/sprite.svg#vk"></use>
                </svg>
              </a>
            </li>

            <li class="social__item">
              <a href="https://www.instagram.com/" class="social__link link-ui">
                <svg class="social__svg">
                  <use xlink:href="img/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <h3 class="subtitle visually-hidden">Меню</h3>
        <ul class="footer-navs list-reset footer-grid__right">
          <li class="footer-navs__item about-nav">
            <h4 class="footer-navs__title subtitle text-reset">О нас</h4>
            <ul class="footer-nav list-reset">
              <li class="footer-nav__item">
                <a class="footer-nav__link txt-grey-14 link-ui" href="#">
                  О компании
                </a>
              </li>

              <li class="footer-nav__item">
                <a class="footer-nav__link txt-grey-14 link-ui" href="#">
                  Блог
                </a>
              </li>
            </ul>
          </li>

          <li class="footer-navs__item services-nav">
            <h4 class="footer-navs__title subtitle text-reset">Услуги</h4>
            <ul class="footer-nav list-reset">
              <li class="footer-nav__item">
                <a class="footer-nav__link txt-grey-14 link-ui" href="#">
                  Доставка
                </a>
              </li>

              <li class="footer-nav__item">
                <a class="footer-nav__link txt-grey-14 link-ui" href="#">
                  Рассрочка и кредит
                </a>
              </li>

              <li class="footer-nav__item">
                <a class="footer-nav__link txt-grey-14 link-ui" href="#">
                  Сборка и установка
                </a>
              </li>
            </ul>
          </li>

          <li class="footer-navs__item connect-nav">
            <h4 class="footer-navs__title subtitle text-reset">Связь с нами</h4>
            <ul class="footer-nav list-reset">
              <li class="footer-nav__item">
                <a class="footer-nav__link txt-grey-14 link-ui" href="#">
                  Обратная связь
                </a>
              </li>

              <li class="footer-nav__item">
                <a class="footer-nav__link txt-grey-14 link-ui" href="contacts.html">
                  Контакты
                </a>
              </li>
            </ul>
          </li>

          <li class="footer-navs__item collaboration-nav">
            <h4 class="footer-navs__title subtitle text-reset">Сотрудничество</h4>
            <ul class="footer-nav list-reset">
              <li class="footer-nav__item">
                <a class="footer-nav__link txt-grey-14 link-ui" href="cooperation.html#suppliers">
                  Поставщикам
                </a>
              </li>

              <li class="footer-nav__item">
                <a class="footer-nav__link txt-grey-14 link-ui" href="cooperation.html#wholesale">
                  Оптовикам
                </a>
              </li>

              <li class="footer-nav__item">
                <a class="footer-nav__link txt-grey-14 link-ui" href="cooperation.html#career">
                  Карьера
                </a>
              </li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <p class="copyright text-reset">
      SDP<span class="copyright__mark">&#174;</span>2011-2021
    </p>
  </div>
</footer>
