<section class="hero">
  <h1 class="visually-hidden">Интернет-магазин мебели Sit Down Pleaze</h1>
  <h2 class="visually-hidden">Слайдер с баннерами</h2>
  <div class="hero__swiper hero-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide hero-swiper__item hero-swiper__item--one">
        <div class="container hero-slide">
          <p class="text-reset hero-slide__title">Скидка 15% на первую покупку</p>
          <button class="hero-slide__btn swiper-btn primary-btn btn-reset" aria-label="получить">Получить!</button>
        </div>
        <picture class="swiper-slide__pic">
          <source class="swiper-slide__img" srcset="img/hero1-tiny.jpg" media="(max-width: 480px)">
          <source class="swiper-slide__img" srcset="img/hero1-sm.jpg" media="(max-width: 990px)">
          <source class="swiper-slide__img" srcset="img/hero1-md.jpg" media="(max-width: 1352px)">
          <img class="swiper-slide__img" src="img/hero1-lg.jpg" alt="слайд 1">
        </picture>
      </div>
      <div class="swiper-slide hero-swiper__item hero-swiper__item--two">
        <div class="container hero-slide">
          <p class="text-reset hero-slide__title">1000+ аксессуаров для дома</p>
          <button class="hero-slide__btn swiper-btn primary-btn btn-reset" tabindex="-1" aria-label="подробнее">Подробнее</button>
        </div>
        <picture class="swiper-slide__pic">
          <source class="swiper-slide__img" srcset="img/hero2-tiny.jpg" media="(max-width: 480px)">
          <source class="swiper-slide__img" srcset="img/hero2-sm.jpg" media="(max-width: 990px)">
          <source class="swiper-slide__img" srcset="img/hero2-md.jpg" media="(max-width: 1352px)">
          <img class="swiper-slide__img" src="img/hero2-lg.jpg" alt="слайд 2">
        </picture>
      </div>
      <div class="swiper-slide hero-swiper__item hero-swiper__item--three">
        <div class="container hero-slide">
          <p class="text-reset hero-slide__title hero-slide__title--white">Коллекция стильного и яркого текстиля</p>
          <button class="hero-slide__btn swiper-btn primary-btn btn-reset" tabindex="-1" aria-label="подробнее">Подробнее</button>
        </div>
        <picture class="swiper-slide__pic">
          <source class="swiper-slide__img" srcset="img/hero3-tiny.jpg" media="(max-width: 480px)">
          <source class="swiper-slide__img" srcset="img/hero3-sm.jpg" media="(max-width: 990px)">
          <source class="swiper-slide__img" srcset="img/hero3-md.jpg" media="(max-width: 1352px)">
          <img class="swiper-slide__img" src="img/hero3-lg.jpg" alt="слайд 3">
        </picture>
      </div>
    </div>
    <div class="swiper-pagination hero-swiper__pagination"></div>
  </div>
  <div class="container hero-mobile">
    <button class="hero-mobile__btn primary-btn btn-reset" aria-label="получить">Получить</button>
  </div>
</section>
