<div class="product-page">
  <div class="container">
    <h1 class="visually-hidden">Карточка товара</h1>
    <section class="product-hero product-hero-grid">
      <h2 class="visually-hidden">Главное</h2>
      <div class="product-swiper product-main-swiper product-hero-grid__main">
        <div class="swiper-wrapper product-main-swiper__wrapper">
          <div class="product-main-swiper__slide swiper-slide">
            <picture class="swiper-slide__pic">
              <source class="swiper-slide__img" srcset="img/sdp.svg" media="(max-width: 767px)">
              <img class="swiper-slide__img" src="img/deafult.png" alt="изображение товара">
            </picture>
          </div>

          <div class="product-main-swiper__slide swiper-slide">
            <picture class="swiper-slide__pic">
              <source class="swiper-slide__img" srcset="img/deafult.png" media="(max-width: 767px)">
              <img class="swiper-slide__img" src="img/deafult.png" alt="изображение товара">
            </picture>
          </div>

          <div class="product-main-swiper__slide swiper-slide">
            <picture class="swiper-slide__pic">
              <source class="swiper-slide__img" srcset="img/deafult.png" media="(max-width: 767px)">
              <img class="swiper-slide__img" src="img/deafult.png" alt="изображение товара">
            </picture>
          </div>

          <div class="product-main-swiper__slide swiper-slide">
            <picture class="swiper-slide__pic">
              <source class="swiper-slide__img" srcset="img/deafult.png" media="(max-width: 767px)">
              <img class="swiper-slide__img" src="img/deafult.png" alt="изображение товара">
            </picture>
          </div>

          <div class="product-main-swiper__slide product-hero__slide swiper-slide">
            <picture class="swiper-slide__pic">
              <source class="swiper-slide__img" srcset="img/deafult.png" media="(max-width: 767px)">
              <img class="swiper-slide__img" src="img/deafult.png" alt="изображение товара">
            </picture>
          </div>
        </div>
      </div>
      <div class="product-swiper product-mini-swiper product-hero-grid__mini">
        <div class="product-mini-swiper-prev swiper-button-prev circle-btn product-mini-swiper-btn product-mini-swiper-btn--prev"></div>
        <div class="product-mini-swiper-next swiper-button-next circle-btn product-mini-swiper-btn product-mini-swiper-btn--next"></div>

        <div class="swiper-wrapper product-mini-swiper__wrapper">
          <div class="product-mini-swiper__slide swiper-slide">
            <img class="swiper-slide__img" src="img/deafult.png" alt="изображение товара">
          </div>

          <div class="product-mini-swiper__slide swiper-slide">
            <img class="swiper-slide__img" src="img/deafult.png" alt="изображение товара">
          </div>

          <div class="product-mini-swiper__slide swiper-slide">
            <img class="swiper-slide__img" src="img/deafult.png" alt="изображение товара">
          </div>

          <div class="product-mini-swiper__slide swiper-slide">
            <img class="swiper-slide__img" src="img/deafult.png" alt="изображение товара">
          </div>

          <div class="product-mini-swiper__slide swiper-slide">
            <img class="swiper-slide__img" src="img/deafult.png" alt="изображение товара">
          </div>
        </div>
      </div>

      <article class="product-hero__card product-hero-card product-hero-grid__card">
        <h2 class="visually-hidden">Название</h2>
      <!-- заполняется js  -->
      </article>

    </section>

    <section class="product-content product-content-grid">
      <h2 class="visually-hidden">Описание</h2>
      <div class="product-descr product-content-grid__descr">
        <p class="text-reset product-descr__descr">
          <span class="product-descr__title text-reset"> Опорный механизм</span>
          <span class="product-descr__text text-reset"></span>
         <!-- текст описания и картинки заполняются js  -->
        </p>
      </div>

      <div class="product-content__table product-table product-content-grid__table product-table-grid">
      <!-- заполняется js  -->
      </div>
    </section>

    <section class="product-similar">
      <h2 class="product-similar__title title text-reset">Похожие товары</h2>
      <div class="product-similar__slider product-similar-swiper">
        <div class="product-similar-button-prev swiper-button-prev circle-btn product-similar-btn"></div>
        <div class="product-similar-button-next swiper-button-next circle-btn product-similar-btn"></div>

        <div class="swiper-wrapper similar-swiper-wrapper">
        </div>
      </div>
    </section>
  </div>
</div>
