<section class="top">
  <div class="container">
    <h2 class="top__title title text-reset">Топ категории</h2>
    <ul class="top__list top-grid list-reset">
      <li class="top-grid__item top-grid__item--lg top__card top__card--lg top-card">
        <div class="top-card__wrap">
          <ul class="top-card__list subcategory-list list-reset">
            <li class="subcategory-list__item">
              <a class="subcategory-list__link link-ui" href="">Прямые</a>
            </li>
            <li class="subcategory-list__item">
              <a class="subcategory-list__link link-ui" href="">Угловые</a>
            </li>
            <li class="subcategory-list__item">
              <a class="subcategory-list__link link-ui" href="">Модульные</a>
            </li>
          </ul>
          <h3 class="top-card__title subtitle text-reset">
            <span>Диваны</span>
            <a class="top-card__link catalog-link catalog-link-mobile" href="catalog.html" aria-label="перейти">
              <span class="catalog-link__circle circle-btn"></span>
            </a>
          </h3>
          <picture class="top-card__pic">
            <source class="top-card__img" srcset="img/top-sofa-tiny.png" media="(max-width: 767px)">
            <source class="top-card__img" srcset="img/top-sofa-md.png" media="(max-width: 1352px)">
            <img class="top-card__img" src="img/top-sofa-lg.png" alt="картинка диван">
          </picture>
          <a class="top-card__link catalog-link" href="catalog.html" aria-label="перейти в каталог">
            <span class="catalog-link__text"> В каталог</span>
            <span class="catalog-link__circle circle-btn"></span>
          </a>
        </div>
      </li>

      <li class="top-grid__item top__card top-grid__item--md top-card">
        <div class="top-card__wrap">
          <ul class="top-card__list subcategory-list list-reset">
            <li class="subcategory-list__item">
              <a class="subcategory-list__link link-ui" href="">Мягкие</a>
            </li>
            <li class="subcategory-list__item">
              <a class="subcategory-list__link link-ui" href="">Кресла-кровати</a>
            </li>
          </ul>
          <h3 class="top-card__title subtitle text-reset">
            <span>Кресла</span>
            <a class="top-card__link catalog-link catalog-link-mobile" href="catalog.html" aria-label="перейти">
              <span class="catalog-link__circle circle-btn"></span>
            </a>
          </h3>
          <picture class="top-card__pic">
            <source class="top-card__img" srcset="img/top-armchair-tiny.png" media="(max-width: 767px)">
            <source class="top-card__img" srcset="img/top-armchair-md.png" media="(max-width: 1352px)">
            <img class="top-card__img" src="img/top-armchair-lg.png" alt="картинка кресло">
          </picture>
          <a class="top-card__link catalog-link" href="catalog.html" aria-label="перейти в каталог">
            <span class="catalog-link__text"> В каталог</span>
            <span class="catalog-link__circle circle-btn"></span>
          </a>
        </div>
      </li>

      <li class="top-grid__item top__card top-grid__item--sm  top-grid__item--sm-first top-card">
        <div class="top-card__wrap">
          <ul class="top-card__list subcategory-list list-reset">
            <li class="subcategory-list__item">
              <a class="subcategory-list__link link-ui" href="">Односпальные</a>
            </li>
            <li class="subcategory-list__item">
              <a class="subcategory-list__link link-ui" href="">Двуспальные</a>
            </li>
          </ul>
          <h3 class="top-card__title subtitle text-reset">
            <span>Кровати</span>
            <a class="top-card__link catalog-link catalog-link-mobile" href="catalog.html" aria-label="перейти">
              <span class="catalog-link__circle circle-btn"></span>
            </a>
          </h3>
          <picture class="top-card__pic">
            <source class="top-card__img" srcset="img/top-bed-tiny.png" media="(max-width: 767px)">
            <source class="top-card__img" srcset="img/top-bed-md.png" media="(max-width: 1352px)">
            <img class="top-card__img" src="img/top-bed-lg.png" alt="картинка кровать">
          </picture>
          <a class="top-card__link catalog-link" href="catalog.html" aria-label="перейти в каталог">
            <span class="catalog-link__text"> В каталог</span>
            <span class="catalog-link__circle circle-btn"></span>
          </a>
        </div>
      </li>

      <li class="top-grid__item top__card top-grid__item--sm top-card">
        <div class="top-card__wrap">
          <ul class="top-card__list subcategory-list list-reset">
            <li class="subcategory-list__item">
              <a class="subcategory-list__link link-ui" href="">Тумбы</a>
            </li>
            <li class="subcategory-list__item">
              <a class="subcategory-list__link link-ui" href="">Комоды</a>
            </li>
          </ul>
          <h3 class="top-card__title subtitle text-reset">
            <span>Тумбы и комоды</span>
            <a class="top-card__link catalog-link catalog-link-mobile" href="catalog.html" aria-label="перейти">
              <span class="catalog-link__circle circle-btn"></span>
            </a>
          </h3>
          <picture class="top-card__pic">
            <source class="top-card__img" srcset="img/top-dresser-tiny.png" media="(max-width: 767px)">
            <source class="top-card__img" srcset="img/top-dresser-md.png" media="(max-width: 1352px)">
            <img class="top-card__img" src="img/top-dresser-lg.png" alt="картинка комод">
          </picture>
          <a class="top-card__link catalog-link" href="catalog.html">
            <span class="catalog-link__text"> В каталог</span>
            <span class="catalog-link__circle circle-btn"></span>
          </a>
        </div>
      </li>

      <li class="top-grid__item top__card top-grid__item--sm top-grid__item--sm-first sm-first top-card">
        <div class="top-card__wrap">
          <ul class="top-card__list subcategory-list list-reset">
            <li class="subcategory-list__item">
              <a class="subcategory-list__link link-ui" href="">Деревянные</a>
            </li>
            <li class="subcategory-list__item">
              <a class="subcategory-list__link link-ui" href="">Металлокаркас</a>
            </li>
          </ul>
          <h3 class="top-card__title subtitle text-reset">
            <span>Стулья</span>
            <a class="top-card__link catalog-link catalog-link-mobile" href="catalog.html" aria-label="перейти">
              <span class="catalog-link__circle circle-btn"></span>
            </a>
          </h3>
          <picture class="top-card__pic">
            <source class="top-card__img" srcset="img/top-chair-tiny.png" media="(max-width: 767px)">
            <source class="top-card__img" srcset="img/top-chair-md.png" media="(max-width: 1352px)">
            <img class="top-card__img" src="img/top-chair-lg.png" alt="картинка стулья">
          </picture>
          <a class="top-card__link catalog-link" href="catalog.html" aria-label="перейти в каталог">
            <span class="catalog-link__text"> В каталог</span>
            <span class="catalog-link__circle circle-btn"></span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
