<section class="useful">
  <div class="container">
    <h2 class="useful__title title text-reset">Полезное</h2>
    <div class="useful__swiper useful-swiper">
      <div class="useful-swiper-button-prev swiper-button-prev circle-btn useful-swiper-btn useful-swiper-btn--prev"></div>
      <div class="useful-swiper-button-next swiper-button-next circle-btn useful-swiper-btn useful-swiper-btn--next"></div>
      <div class="swiper-wrapper">
        <div class="swiper-slide useful-swiper__item">
          <article class="useful-card">
            <picture class="useful-card__pic">
              <source class="useful-card__img" srcset="img/useful-1-tiny.jpg" media="(max-width: 1023px)">
              <img class="useful-card__img" src="img/useful-1.jpg" alt="картинка">
            </picture>
            <div class="useful-card__wrap">
              <h3 class="useful-card__title text-reset">
                <a class="useful-card__link link-ui" href="#">
                  И нет сомнений, что сделанные на базе интернет-аналитики выводы представляют собой не что иное?
                </a>
              </h3>
              <a class="useful-card__btn secondary-btn btn-reset" tabindex="0">Читать</a>
            </div>
          </article>
        </div>

        <div class="swiper-slide useful-swiper__item">
          <article class="useful-card">
            <picture class="useful-card__pic">
              <source class="useful-card__img" srcset="img/useful-2-tiny.jpg" media="(max-width: 1023px)">
              <img class="useful-card__img" src="img/useful-2.jpg" alt="картинка">
            </picture>
            <div class="useful-card__wrap">
              <h3 class="useful-card__title text-reset">
                <a class="useful-card__link link-ui">
                  Как принято считать, некоторые особенности приносят несомненную пользу обществу?
                </a>
              </h3>
              <a class="useful-card__btn secondary-btn btn-reset" tabindex="0">Читать</a>
            </div>
          </article>
        </div>

        <div class="swiper-slide useful-swiper__item">
          <article class="useful-card">
            <picture class="useful-card__pic">
              <source class="useful-card__img" srcset="img/useful-3-tiny.jpg" media="(max-width: 1023px)">
              <img class="useful-card__img" src="img/useful-3.jpg" alt="картинка">
            </picture>
            <div class="useful-card__wrap">
              <h3 class="useful-card__title text-reset">
                <a class="useful-card__link link-ui">
                  Ясность нашей позиции очевидна: укрепление и развитие внутренней структуры?
                </a>
              </h3>
              <a class="useful-card__btn secondary-btn btn-reset" tabindex="-1">Читать</a>
            </div>
          </article>
        </div>

        <div class="swiper-slide useful-swiper__item">
          <article class="useful-card">
            <picture class="useful-card__pic">
              <source class="useful-card__img" srcset="img/useful-4-tiny.jpg" media="(max-width: 1023px)">
              <img class="useful-card__img" src="img/useful-4.jpg" alt="картинка">
            </picture>
            <div class="useful-card__wrap">
              <h3 class="useful-card__title text-reset">
                <a class="useful-card__link link-ui">
                  Прежде всего, консультация с широким активом однозначно фиксирует необходимость распределения?
                </a>
              </h3>
              <a class="useful-card__btn secondary-btn btn-reset" tabindex="-1">Читать</a>
            </div>
          </article>
        </div>

        <div class="swiper-slide useful-swiper__item">
          <article class="useful-card">
            <picture class="useful-card__pic">
              <source class="useful-card__img" srcset="img/useful-5-tiny.jpg" media="(max-width: 1023px)">
              <img class="useful-card__img" src="img/useful-5.jpg" alt="картинка">
            </picture>
            <div class="useful-card__wrap">
              <h3 class="useful-card__title text-reset">
                <a class="useful-card__link link-ui">
                  Как принято считать, некоторые особенности приносят несомненную пользу обществу?
                </a>
              </h3>
              <a class="useful-card__btn secondary-btn btn-reset" tabindex="-1">Читать</a>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
