:root {
  // base
  --font-family: "Open Sans";
  --content-width: 1280px;
  --content-tablet-width: 952px;
  --container-offset: 36px;
  --gap: 32px;
  --primary: #a65cf0;
  --primary-light: #c998fb;
  --primary-shade: #7033ac;
  --pink-light: #f8efff;
  --pink-violet: #ebd1ff;
  --secondary: #ff862f;
  --secondary-light: #ffbd59;
  --secondary-shade: #bb370e;
  --red-input: #ff6972;
  --green-input: #b8ec64;
  --gold: #d5b986;
  --white: #fff;
  --grey-light: #f7f7f7;
  --grey-superlight: #f6f6f6;
  --md-grey: #eaeaea;
  --grey: #999;
  --grey-shade: #666;
  --black: #333;
  --lime-color: #daffd1;
  --bone: #fff5d1;
}
